/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field_with_errors input[type="text"] {
    border: 1px solid red;
}

.field_with_errors textarea {
    border: 1px solid red;
}

.field_with_errors input[type="datetime-local"] {
    border: 1px solid red;
}

.field_with_errors > span {
    color: red;
}

/* .form {
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.form-new {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.button {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
} */